h1,
h2,
h3,
h4 {
  text-transform: capitalize;

  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: Hsl(147, 50%, 47%);
  text-decoration: underline;
}
.container {
  padding: 1rem 2rem;
  background: lightblue;
}

.float {
  overflow: hidden;
  text-align: center;
  border: 5px solid lightseagreen;
}
.margin {
  margin-left: 2rem;
}
.colors {
  float: left;
  width: 22%;
}
.colors-rgb {
  width: 22%;
  float: left;
}
.colors-hex {
  float: left;
  width: 22%;
}
.colors-hsl {
  float: right;
  width: 22%;
  margin-right: 2rem;
}
.banner {
  background: linear-gradient(rgb(44, 174, 186, 0.7), rgb(0, 0, 0, 0.7)),
    url("../images/about.jpeg") center/cover no-repeat;
  min-height: 500px;
}
.title {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  line-height: 1.25;
  font-size: 3rem;
  color: #fff;
  text-align: center;
  padding-top: 5rem;
}
.contact-form {
  background: var(--clr-white);
  border-radius: var(--radius);
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  min-width: 66rem;
}
.contact-form:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.form-group {
  padding: 1rem 1.5rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background: #fff;
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.form-control::placeholder {
  font-family: var(--ff-primary);
  text-transform: uppercase;
  color: var(--clr-grey-1);
  letter-spacing: var(--spacing);
}
.submit-btn {
  display: block;
  width: 50%;
  padding: 1rem;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
table {
  width: 750px;
  border-collapse: collapse;
  margin: 50px auto;
}

th {
  background: #3498db;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid rgb(97, 91, 91);
  text-align: left;
  font-size: 18px;
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
